# RailGaadi Environment Variables Template
RAILRADAR_API_KEY=YOUR_RAILRADAR_API_KEY
OPENWEATHER_API_KEY=YOUR_OPENWEATHER_API_KEY
OPENTOPOGRAPHY_API_KEY=YOUR_OPENTOPOGRAPHY_API_KEY
NEXT_PUBLIC_MAPTILER_API_KEY=YOUR_MAPTILER_API_KEY
# UPSTASH_REDIS_REST_URL=
# UPSTASH_REDIS_REST_TOKEN=

MONGODB_URI=ENTER MONGODB CONNECTION LINK

# Authentication Secrets & SMTP Configuration
JWT_SECRET=your_super_secret_jwt_key_railtrack_2026
EMAIL_SERVER_HOST=smtp.gmail.com
EMAIL_SERVER_PORT=587
EMAIL_SERVER_USER=your_email@gmail.com
EMAIL_SERVER_PASSWORD=your_app_password
EMAIL_FROM="RailTrack Auth <noreply@railtrack.in>"
